<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VasProductivity.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="reflex" connectionString="DataSource=10.52.1.100; UserID=VASPROD; Password=VASPROD;" providerName="IBM.Data.DB2"/>
    <add name="db_sorter_prod" connectionString="Server=10.55.137.48;Database=db_sorter_prod;Uid=root;Pwd=admin" providerName="System.Data.MySqlClient"/>
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <userSettings>
    <VasProductivity.Properties.Settings>
      <setting name="SelectedPackStationSetting" serializeAs="String">
        <value>22</value>
      </setting>
    </VasProductivity.Properties.Settings>
  </userSettings>
</configuration>